<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzs.ymcc.mapper.CourseUserLearnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lzs.ymcc.domain.CourseUserLearn">
        <id column="id" property="id" />
        <result column="login_id" property="loginId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="state" property="state" />
        <result column="course_id" property="courseId" />
        <result column="course_order_no" property="courseOrderNo" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <insert id="addCourseUserLearn" parameterType="list">
        INSERT INTO t_course_user_learn (
        login_id, start_time, end_time, state, course_id, course_order_no, create_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.loginId},
            #{item.startTime},
            #{item.endTime},
            #{item.status},
            #{item.courseId},
            #{item.courseOrderNo},
            #{item.createTime}
            )
        </foreach>
    </insert>

    <select id="getLearnedCourseByLoginId" resultType="cn.lzs.ymcc.domain.Course"
            parameterType="java.lang.Long">
        select
            c.id,
            c.name,
            c.for_user,
            c.course_type_id,
            c.grade_name,
            c.grade_id,
            c.status,
            c.login_id,
            c.login_user_name,
            c.start_time,
            c.end_time,
            c.pic,
            c.total_minute,
            c.online_time,
            c.chapter_count,
            c.teacher_names
        from t_course_user_learn cul
        left join t_course c on cul.course_id = c.id
    where cul.login_id = #{loginId}
    </select>

</mapper>
